[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = {path = "./dependencies/PyAudio-0.2.11-cp36-cp36m-win_amd64.whl"}
pocketsphinx = "*"
speechrecognition = "*"
pvporcupine = "*"
pyjokes = "*"
pyttsx3 = "*"
playsound = "<=1.2.2"
wikipedia = "*"
newspaper3k = "*"
cachetools = "*"
spotipy = "*"
pydictionary = "*"
nltk = "*"
pydispatcher = "*"
setuptools = "==45.2.0"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.6"
