[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = {path = "./dependencies/PyAudio-0.2.11-cp39-cp39-win_amd64.whl"}
speechrecognition = "*"
pvporcupine = "*"
pyjokes = "*"
pyttsx3 = "*"
pyglet = "*"
playsound = "==1.2.2"
wikipedia = "*"
newspaper3k = "*"
joblib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
